.lead__caption {
  padding: 0;
  margin: 9px 0 0;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

}

@media screen and (max-width: 1024px) {

  .lead__caption {
    margin: 1rem 0 0;
  }

}

@media screen and (max-width: 768px) {

  .lead__caption {
    padding: 0 16px;
  }

}

@media screen and (max-width: 425px) {

  .lead__caption {
    margin-top: 0.5rem;
  }

}

