@import url("__caption/lead__caption.css");
@import url("__image/lead__image.css");
@import url("__subtitle/lead__subtitle.css");
@import url("__title/lead__title.css");
@import url("__figure/lead__figure.css");

.lead {
  margin: 0 auto;
  padding: 0;  
  max-width: 985px;
  width: calc(100% - 48px*2);
  box-sizing: border-box; 
}


@media screen and (max-width: 1024px) {

  .lead {
    max-width: 928px;
    width: 100%;
  }

}

@media screen and (max-width: 768px) {

  .lead {
    max-width: 768px;
  }

}
