.place__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  margin: 0;
  padding: 0;
  grid-area: title;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

  .place__title {
    max-width: 440px;
  }

}

@media screen and (max-width: 768px) {

  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    padding-right: 10px;    
  }

}

@media screen and (max-width: 425px) {

  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px 8px;    
  }

}