@import url("__title/cover__title.css");
@import url("__subtitle/cover__subtitle.css");


.cover {
  margin: 0 auto;
  padding: 0 0 48px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1184px;
  height: 50.1689%;
  max-height: 594px;
  background-image: url("../../images/cover.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cover::before {
  content:' ';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
}

.cover:hover:before {
  opacity: .8;
  transition: opacity 1s ease-in-out;
}


@media screen and (max-width: 1024px) {

  .cover {
    height: 54.8828%;
  }

}

@media screen and (max-width: 768px) {

  .cover {
    height: 65.1042%;
  }

}

@media screen and (max-width: 425px) {

  .cover {
    height: 72.5333%;
    padding-bottom: 24px;
  }

}

@media screen and (max-width: 320px) {

  .cover {
    height: 67.5%;
  }

}
