@import url("__description/place__description.css");
@import url("__paragraph/place__paragraph.css");
@import url("__image/place__image.css");
@import url("__title/place__title.css");
@import url("__website/place__website.css");
@import url("__url-heading/place__url-heading.css");
@import url("__url/place__url.css");

.place {
  margin: 0 auto;
  padding: 0 0 76px;
  display: grid;
  column-gap: 40px;
  row-gap: 60px;
  grid-template-areas:
    "title website"
    "image description";
}

.place:last-of-type {
  padding: 0;
}

@media screen and (max-width: 1024px) {

  .place {
    column-gap: 32px;
    row-gap: 40px;
  }

}

@media screen and (max-width: 768px) {

  .place {
    column-gap: 28px;
    padding-bottom: 72px;
    width: calc(100% - 24px*2);
  }

}

@media screen and (max-width: 650px) {

  .place {
    grid-template-areas:
    "title"
    "image"
    "website"
    "description";
    padding-bottom: 46px;    
  }

}

@media screen and (max-width: 425px) {

  .place {
    width: 100%;
    row-gap: 24px;
    grid-template-areas:
    "title"
    "image"
    "description";
    padding-right: 0;
    padding-left: 0;
  }

}