@import url("__header/page__header.css");
@import url("__content/page__content.css");
@import url("__footer/page__footer.css");


.page {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;  
  color: #FFFFFF;
}

/* a, h1, header, footer, h2, h3, article, figure, figcaption, div, p, main, ul, li {
  border: .5px solid red;
}  */

/* .page {
  border: .5px solid red;
} */