.video-item__title {
  position: relative;  
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  color: #FFFFFF;
  margin: 12px 0 0;
  padding: 0;
  max-width: 322px;
  width: 60%;
}

@media screen and (max-width: 768px) {

  .video-item__title {
    margin-top: 8px;
    font-size: 24px;
    line-height: 26px;
    width: 100%;    
  }

}