@import url("__container/comments__container.css");


.comments {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  width: calc(100% - 48px*2);  
}

@media screen and (max-width: 1024px) {

  .comments {
    max-width: 928px;
    width: calc(100% - 48px*2);     
  }

}

@media screen and (max-width: 768px) {

  .comments {
    max-width: 660px;
    width: calc(100% - 16px*2);     
  }

}


@media screen and (max-width: 425px) {

  .comments {
    max-width: 343px;   
  }

}