@import url("__logo/header__logo.css");
@import url("__lang/header__lang.css");
@import url("__lang-switcher/header__lang-switcher.css");

.header {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
  width: calc(100% - 38px*2);
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    width: calc(100% - 16px*2);
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 343px; 
  }
}


