.video__container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  justify-content: space-between;
  flex: 1;
}

@media screen and (max-width: 650px) {
  .video__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}