@import url("__duration/video-item__duration.css");
@import url("__icon/video-item__icon.css");
@import url("__icon/_type/video-item__icon_type_play.css");
@import url("__subtitle/video-item__subtitle.css");
@import url("__title/video-item__title.css");
@import url("__description-container/video-item__description-container.css");

.video-item {
  width: calc((100% - 18px)/2);
  max-width: 583px;
  height: 55.403%;
  position: relative;
  border-radius: 5px;
  text-decoration: none;  
  padding: 30px 0 30px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.video-item:nth-of-type(1) {
  background-image: url("../../images/video/1.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.video-item:nth-of-type(2) {
  background-image: url("../../images/video/2.jpg");
  background-size: cover;  
  background-position: bottom center;
  background-repeat: no-repeat;
}

.video-item::before {
  content:' ';
  background-color: #000000;
  opacity: .5;
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.video-item:hover::before  {
  opacity: .7;
  transition: opacity 2s ease-in-out;
}

.video-item:hover .video-item__icon_type_play {
  transform: scale(1.2, 1.2);
  transition: transform 2s ease-in-out;
}


@media screen and (max-width: 1024px) {

  .video-item {
    width: calc((100% - 16px)/2);
    max-width: 456px;
    height: 63.1579%;
    max-height: 288px;
    padding-bottom: 35px;
  }

}

@media screen and (max-width: 768px) {

  .video-item {
    height: 56.8181%;
    max-height: 200px;
    padding: 24px;
    max-width: 352px;
  }

}

@media screen and (max-width: 650px) {

  .video-item {
    margin-bottom: 16px;
    width: 100%;
  }

}

@media screen and (max-width: 425px) {

  .video-item {
    height: 58.3090%;
    max-height: 200px;
    max-width: 343px;
    margin-bottom: 8px;
  }

  .video-item:last-of-type {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 355px) {

  .video-item {
    padding: 16px 0 16px 16px;
  }

}



@media screen and (max-width: 320px) {

  .video-item {
    height: 66.6666%;
    max-height: 192px;
    max-width: 288px;
  }

}