.cover__title {
  width: 90%;
  max-width: 1000px; 
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: #FFFDFD;
  padding: 0;
  margin: 274px auto 0;
  position: relative;
}

@media screen and (max-width: 1024px) {

  .cover__title {
    width: 90%;
    max-width: 520px;
    margin-top: 211px;
  }

}

@media screen and (max-width: 768px) {

  .cover__title {    
    /* margin-top: 165px; */
    margin-top: 21.4844vw;
  }

}

@media screen and (max-width: 650px) {

  .cover__title {
    font-size: 11vw;
    line-height: 12vw; 
  }

}

@media screen and (max-width: 425px) {

  .cover__title {
    margin-top: 24.4706vw;
    font-size: 32px;
    line-height: 35px;
  }

}

@media screen and (max-width: 320px) {

  .cover__title {
    margin-top: 20vw;
    font-size: 32px;
    line-height: 35px;
  }

}