.comment__image {
  width: 97px;
  height: 97px;
  object-fit: cover;
  margin: 0 0 42px;
  display: block;
}

@media screen and (max-width: 1280px) {

  .comment__image {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 768px) {

  .comment__image {
    margin: 0 auto 16px;
    order: 1;
  }

}

@media screen and (max-width: 320px) {

  .comment__image {
    margin-bottom: 17px;
  }

}