.place__image {
  width: 460px;
  object-fit: cover;
  display: block;
  grid-area: image;
}

@media screen and (max-width: 1024px) {

  .place__image {
    width: 440px;
  }

}

@media screen and (max-width: 768px) {

  .place__image {
    width: 340px;
  }

}

@media screen and (max-width: 650px) {

  .place__image {
    width: 100%;
    max-width: 375px;
  }

}

@media screen and (max-width: 425px) {

  .place__image {
    max-width: 100%;
  }

}