@import url("__copyright/footer__copyright.css");
@import url("__link/footer__link.css");
@import url("__links/footer__links.css");
@import url("__list-element/footer__list-element.css");

.footer {  
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  max-width: 1184px;
  width: calc(100% - 48px*2);
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 929px;
    width: calc(100% - 23px*2);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 722px;
    width: calc(100% - 16px*2);
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    max-width: 282px; 
  }
}

