@import url("__title/intro__title.css");
@import url("__subtitle/intro__subtitle.css");
@import url("__content-row/intro__content-row.css");
@import url("__text/intro__text.css");
@import url("__written-by/intro__written-by.css");
@import url("__author/intro__author.css");
@import url("__bold/intro__bold.css");
@import url("__list/intro__list.css");
@import url("__list-item/intro__list-item.css");


.intro {
  margin: 0 auto;
  padding: 0;
  max-width: 985px;
  width: calc(100% - 48px*2);
  box-sizing: border-box; 
}

@media screen and (max-width: 1024px) {

  .intro {
    max-width: 928px;
    width: calc(100% - 24px*2);
  }

}

@media screen and (max-width: 768px) {

  .intro {
    max-width: 720px;
    width: calc(100% - 16px*2);
  }

}


@media screen and (max-width: 425px) {

  .intro {
    max-width: 343px;
  }

}

