.content-title {
  margin: 0 auto 24px;
  padding: 0;
  max-width: 800px;
  width: 67.5%;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
}


@media screen and (max-width: 1280px) {

  .content-title {
    margin-bottom: 32px;    
  }

}

@media screen and (max-width: 1024px) {

  .content-title {
    max-width: 928px;
    width: 90%;    
  }

}

@media screen and (max-width: 768px) {

  .content-title {
    width: 98%;
    max-width: 545px;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 24px;
  }

}

@media screen and (max-width: 650px) {

  .content-title {
    font-size: 6.4615vw;
    line-height: 7.0769vw;
    margin-bottom: 3.6923vw;
  }

}

@media screen and (max-width: 425px) {

  .content-title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }

}