.place__website {  
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: website;
}

@media screen and (max-width: 425px) {
  .place__website {
    display: none;
  }
}