.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  text-align: left;
  padding: 0;
  margin: 0 0 36px;
}

@media screen and (max-width: 730px) {
  
  .intro__title {
    font-size: 7.3973vw;
    line-height: 8.0822vw;
    margin-bottom: 4.9315vw;
    width: 62%;
  }
  

}

@media screen and (max-width: 425px) {
  
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
    width: 70%;
  }
  

}

@media screen and (max-width: 375px) {
  
  .intro__title {
    width: 73%;
  }
  

}

@media screen and (max-width: 320px) {
  
  .intro__title {
    width: 85%;
  }
  

}





